{% extends "includes/base.html" %}

{% load bootstrap3 %}

{% block content %}
    <div class="col-md-6 col-md-offset-3">
        <h1>{{ form_title }}</h1>
        <form action="" method="post">
            <fieldset>
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <input type="submit" value="Save" class="btn btn-lg btn-success btn-block"/>
                <a href="{{ request.META.HTTP_REFERER }}" type="button" class="btn btn-lg btn-block btn-default">Cancel</a>
                {% endbuttons %}
            </fieldset>
            <hr>
            <h3>Advanced Options</h3>
            {% if delete_view %}
                <a href="{{ delete_view }}" type="button" class="btn btn-lg btn-block btn-danger">Delete</a>
            {% endif %}
        </form>
    </div>
{% endblock %}
