{% extends "includes/base.html" %}

{% block header %}
<div class="page-header">
    <h1>Onigiri Search</h1>
</div>
{% endblock %}

{% block content %}
    <h2>Search:</h2>
    <form action="" method="post">
        {% csrf_token %}

        {{ form }}

    <input type="submit" value="Search" />
    </form>

    <h2>Results</h2>
    {% if series_list %}
        <p>Found {{ series_list.count }} Results.</p>
    <ul>
    {% for series in series_list %}
        <li><a href="{% url 'series-detail-slug' series.slug %}">{{ series }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
