{% extends "includes/base.html" %}
{% load bootstrap3 %}

{% block main %}

    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-md-12">
                <p><a href="/">Home</a> /
                <a href="{% url 'series-list' %}">Novel Directory</a> /
                <a href="{% url 'series-detail-slug' volume.series.slug%}">{{ volume.series.title }}</a> /
                <a href="#">{{ volume.title }}</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <figure style="padding-top:30px;">
                    {% if volume.image %}
                        <img src="{{ volume.image }}" class="img-responsive img-thumbnail">
                    {% else %}
                        <img class="img-responsive" src="http://placehold.it/320x450" alt="">
                    {% endif %}
                </figure>
            </div>
            <div class="col-md-8">
                <div class="well">
                <a href="{% url 'volume-update' volume.pk %}" type="button" class="btn btn-default pull-right" aria-label="Edit">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <h3>{{ volume.title }} Overview</h3>
                    <table class="table">
                        <tr>
                            <th>Date Published:</th>
                            <th>ISBN:</th>
                            <th>Number of Pages:</th>
                        </tr>
                        <tr>
                            <td>04/04/2014</td>
                            <td>978-4-7973-6396-8</td>
                            <td>323</td>
                        </tr>
                    </table>
                </div>


                <div>
                    <form class="clearfix">
                        <div class="form-group">
                            <label class="control-label hidden" for="translator-select">Choose a filter:</label>
                            <select class="form-control btn-block" id="translator-select">
                                <option>(choose a filter to narrow down multiple concurrent translations)</option>
                                <option>Cloudii [none] -- (score 4.3) (7 chapters)</option>
                                <option>Rainii [none] -- (score 4.2) (6 chapters)</option>
                                <option>Meepah [none] -- (score 2.2) (1 chapter)</option>
                                <option>Show Composite</option>
                                <option>Hide Links</option>
                            </select>
                        </div>
                    </form>
                </div>

                <div class="well">
                <h3>Available Translations</h3>
                <div class="table-responsive"><table class="table" id="chapter-list">
                {% if volume.chapter_set.all %}
                    <tr>
                        <th>Type</th>
                        <th>Chapter</th>
                        <th>Translator</th>
                        <th>Quality Score</th>
                        <th>Edit</th>
                        <th>Report</th>
                    </tr>
                    {% for chapter in volume.chapter_set.all %}
                        <tr>
                        <td><a href="#" type="button" class="btn btn-default disabled">{% bootstrap_icon "link" %}</a></td>
                        <td><a href="{{ chapter.url }}" type="button" class="btn btn-success btn-block">{{ chapter.title }}</a></td>
                        <td><div class="btn-group">
                            <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                {% if chapter.translator %}{{ chapter.translator }}
                                {% else %}No Translator
                                {% endif %}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>Group: Baka-Tsuki</li>
                            <li>Language: cn→us</li>
                            </ul>
                        </div></td>
                        <td><div class="btn-group" role="group" style="min-width:180px;">
                            <a href="#" type="button" class="btn btn-default disabled">{% bootstrap_icon "stats" %} 2.4 ~ 4.8</a>
                            <a href="#" type="button" class="btn btn-default">{% bootstrap_icon "thumbs-up" %}</a>
                            <a href="#" type="button" class="btn btn-default">{% bootstrap_icon "thumbs-down" %}</a>
                        </div></td>
                        <td><a href="{% url 'chapter-update' chapter.pk%}" type="button" class="btn btn-primary">{% bootstrap_icon "pencil" %}</a></td>
                        <td><a href="#" type="button" class="btn btn-danger">{% bootstrap_icon "exclamation-sign" %}</a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <p>Sorry, no chapters are available for this volume!</p>
                {% endif %}
                <tr>
                    <td></td>
                    <td><a href="{% url 'chapter-add' %}?v={{ volume.pk }}" type="button" class="btn btn-primary btn-block">Add Chapter</a></td>
                    <td></td><td></td><td></td><td></td>
                </tr>
                </table></div>


                </div>

            </div>
        </div>
    </div>

{% endblock %}