body {
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    padding-top: 60px;
    width: 100%;
    height: 100%;
    background-color: #f5f1e9;
}

html {
    width: 100%;
    height: 100%;
}

.spacer {
    padding-top:50px;
}

/* Navbar styles */
.navbar {
    background-color: #fefefe;
}

.navbar-default {
    border-color: transparent;
}

.navbar-brand {
    font-size: 150%;
}

.navbar-default .navbar-brand {
    color: #000000;
}

.navbar .btn-group {
    padding: 7px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #d5d5d5;
    font-size:small;
    padding:5px;
}

/* Center Images */
.helper {
    padding-top: 100%; /* forces 1:1 aspect ratio */
}

.img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    text-align:center; /* Align center inline elements */
    font: 0/0 a;
}

.img-container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.img-container img {
    vertical-align: middle;
    display: inline-block;
}

/* Row Flex */
.row-flex, .row-flex > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.row-flex-wrap {
	-webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex:0;
}

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
	 margin:-.2px; /* hack adjust for wrapping */
}

.container-flex > div[class*='col-'] div,.row-flex > div[class*='col-'] div {
	width:100%;
}


.flex-col {
    display: flex;
    display: -webkit-flex;
    flex: 1 100%;
	flex-flow: column nowrap;
}

.flex-grow {
	display: flex;
    -webkit-flex: 2;
    flex: 2;
}

/* http://www.bootply.com/126437 */

/* Fullscreen Table */
.fullscreen-table {
    min-height: 100%;
    display: table;
}
.fullscreen-inner {
    display:table-cell;

}
.fullscreen-center {
    float:none;
    margin:0px auto;
}

/* Series Page Styles */
.series .well {
    font-family: 'Goudy Old Style', 'Palatino', sans-serif;
    background-color: #fcfcfc;
}
.series h1 {
    font-family: "Arial Black", serif;
    font-size: 2.25em;
    font-weight: bold;
    border: 0px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.series h2 {
    color: white;
}

.series .author {
    font-family: 'Goudy Old Style', sans-serif;
    font-size: 1.5em;
    font-style: normal;
    font-weight: lighter;
}

#series-img {
    min-width: 330px;
    min-height: 510px;
}

.volume figure {
    text-align: center;
    margin-bottom: 20px;
}

.volume img {
    margin: 2px auto;
}

/* Landing Page Styles */

@media (min-width: 768px) {
    /* Start the vertical centering */
    .fullscreen-inner {
        vertical-align: middle;
    }
    #series-img > div[class*='col-'], .container-flex > div[class*='col-'] {
        min-height: 510px;
    }
}

@media (min-width: 992px) {
    .volume-detail {
        position:fixed;
    }
}