{% extends "includes/base.html" %}

{% load static %}

{% block main %}
    <div class="home-wrapper">
        <div class="home-wrapper-inner">
            <div class="cover-container">
                <div class="inner cover">
                    <p class="lead">
                        onigiri.
                        <a href="{% url 'series-list' %}"><img src="{% static 'images/cat.gif' %}"></a>
                        nomz~
                    </p>
                </div>

            </div>
        </div>
        <div class="home-footer footer">
            <div class="container text-center text-muted">
                <p>Copyright &copy; {% now "Y" %}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
