{% extends "includes/base.html" %}

{% load static %}

{% block main %}
    <div class="home-wrapper">
        <div class="home-wrapper-inner">
            <div class="cover-container">
                <div class="inner cover">
                    <h1 class="cover-heading">おにぎり</h1>
                        <form role="search" action="{% url 'search' %}" method="post">
                                {% csrf_token %}
                                <div class="input-group input-lg">
                                    {{ searchform.query }}
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </span>
                                </div>
                        </form>

                </div>
                <div class="cover-container">
                    <a href="{% url 'series-list' %}"><img src="{% static 'images/cat.gif' %}"></a>
                </div>
            </div>
        </div>
        <div class="home-footer footer">
            <div class="container text-center text-muted">
                <p>Copyright &copy; {% now "Y" %}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
