<!DOCTYPE html>
{% load bootstrap3 %}
{% load url from future %}
<html{% if request.LANGUAGE_CODE %} lang="{{ request.LANGUAGE_CODE }}"{% endif %}>
<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>{% block title %}Default Title{% endblock %}</title>
    {% bootstrap_css %}
    {% load staticfiles %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
    {% if 'javascript_in_head'|bootstrap_setting %}
    {% bootstrap_javascript jquery=True %}
    {% endif %}
    {% block extra_head %}{% endblock %}
</head>
<body>

    <div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
	    <div class="container">
		<ul class="nav">
		    <li><a href="{% url 'home' %}" class="">Home</a></li>
		</ul>
	    </div>
	</div>
    </div>
    
    <div class="container">
	
	{% bootstrap_messages %}
	
	{% block content %}(no content){% endblock %}
	
	<p><hr></p>
	    
	<footer class="row">
	    <p>&copy; cloudiirain 2012</p>
	</footer>
    </div><!-- container -->
    {% if not 'javascript_in_head'|bootstrap_setting %}{% bootstrap_javascript jquery=True %}{% endif %}
    {% block extra_script %}{% endblock %}
</body>
</html>
